<html>
  <head>
    <title>GHA Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <table class="table table-bordered table-hover table-fixed">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">User</th>
      <th scope="col">Role</th>
      <th scope="col">Warn Count</th>
      <th scope="col">Warnings Link</th>
    </tr>
  </thead>
  <tbody>
      <% users.forEach(user => {%>
    <tr>
      <th scope="row"><%= user.id%></th>
      <td><%= user.tag%></td>
      <td><%= user.role%></td>
      <td><%= user.warnCount%></td>
      <td><a target="_blank" href='/warns/<%=user.id%>'>Click here</a></td>
    </tr>
      <% })%>
  </tbody>
</table>
  </body>
</html>